<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

  <style>
    .card {
        height: 100%;
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.1); ;
    }
    
    .card img {
        height: 250px;
        object-fit: cover; 
    }

  </style>
</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page:'/home'}) %>

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-lg">
                  <h1 class="text-4xl font-bold">Build Your World: Dive into Our Collection</h1>
      
                  <p class="py-6">"Unleash your creativity and dive into our vast array of captivating LEGO sets. From iconic landmarks to imaginative worlds, there's something for every builder."</p>
              
                  <a href="/lego/sets" class="btn btn-primary">Explore Sets</a>
              </div>
          </div>
      </div>
  </div>

  <br>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

          <div class="card bg-base-100 shadow-xl">
              <figure>
              <img class="w-full" src="https://cdn.rebrickable.com/media/sets/10041-1.jpg" alt="Lego set - 10041-1">
              </figure>
              <div class="card-body">
              <h2 class="card-title">Main Street</h2>
              <p>LEGO 10041 Main Street was a 616 piece Town exclusive set with 8 minifigs released in 2003.</p>
                  <div class="card-actions justify-end">
                          <a href="/lego/sets/10041-1" class="btn btn-primary">View</a>
                  </div>
              </div>

          </div>

      </div>

      <div>
        <div class="card bg-base-100 shadow-xl">
          <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/10040-1.jpg" alt="Lego Set 10040-1">
          </figure>
          <div class="card-body">
            <h2 class="card-title">Black Seas Barracuda</h2>
            <p>LEGO 10040 Black Seas Barracuda was a 906 piece Pirates exclusive set with 8 minifigs released in 2002. This set is part of the Legends collection.</p>
            <div class="card-actions justify-end">
                <a href="/lego/sets/10040-1" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>

      <div>
      <div class="card bg-base-100 shadow-xl">
          <figure>
          <img class="w-full " src="https://cdn.rebrickable.com/media/sets/7047-1.jpg" alt="Lego Set - 7047-1">
          </figure>
          <div class="card-body">
          <h2 class="card-title">Coast Watch HQ</h2>
          <p>LEGO 7047 Coast Watch HQ was a 367 piece World City set with 4 minifigs released in 2004.</p>
              <div class="card-actions justify-end">
                  <a href="/lego/sets/7047-1" class="btn btn-primary">View</a>
              </div>
          </div>
      </div>

      </div>
  </div>
  
</body>

</html>
